<script id="tempDepositReportSummary">
	<section class="wrapper">
		<div id="deposit-report-summary-print-wrap" class="col-12 px-0 px-3-md">
			<div class="card">
				<div class="card-header dnp">
					<div class="col-xs-6 p-0">
					</div>
					<div class="col-xs-6 p-0">
						<a id="print-report" class="float-right"><i class="fas fa-print"></i> Print</a>
					</div>
				</div>	
				<div class="card-header">
					<div class="row">
						<div class="col-3 col-xs-3">
							<p>{{program.street}}<p>
							<p>{{program.address}}<p>
						</div>
						<div class="col-6 col-xs-6 p-0 text-center">
							<h2 class="mt-0">{{program.programFullName}}</h2>
							</h4 id="billing-report-summary-range" >{{depositRange}}</h4>
						</div>
						<div class="col-3 col-xs-3 text-right">
							<p>{{program.phone}}<p>
							<p>{{program.email}}<p>
						</div>
					</div>
				</div>
				<div class="card-body">
					<div class="dataTables_wrapper dt-bootstrap4">
						<div id="deposit-report-summary-filters-wrap" class="row dnp">
							<!-- <div class="col-sm-12 col-md-12 col-lg-3" >
								<label>Filter</label>
								<select name="datatables-basic_length" class="custom-select custom-select-sm form-control form-control-sm deposit-report-summary-checkin-log-filter dib" data-filter="filter">
									{{#filterOptions}}
										<option value="{{val}}" {{selected}}>{{name}}</option>
									{{/filterOptions}}
								</select>
							</div> -->
							<div class="col-xs-6 col-md-6 col-lg-3 offset-lg-3">
								<label>From Date:</label>
								<input type="text" class="form-control form-control-sm deposit-report-summary-checkin-log-filter billing-ledger-date search-on-change" data-filter="startDate" placeholder="" aria-controls="datatables-basic" value="{{formattedStartDate}}">
							</div>
							<div class="col-xs-6 col-md-6 col-lg-3">
								<label>To Date:</label>
								<input type="text" class="form-control form-control-sm deposit-report-summary-checkin-log-filter billing-ledger-date search-on-change" data-filter="endDate" placeholder="" aria-controls="datatables-basic" value="{{formattedEndDate}}">
							</div>
							<div id="deposit-report-summary-pagination"></div>
						</div>
						
						<div class="row">
							<div class="col-sm-12" id="billing-report-table-wrap">
								{{>tempWeeklyDepositReportTables}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</script>

<script id="tempWeeklyDepositReportTables">
	<table id="check-report-table" class="table-sm table-borderless" style="width: 100%;" role="grid" aria-describedby="datatables-basic_info">
		<tbody>
			<tr>
		    	<th colspan="4" style="border-bottom: solid 1px #797979;">Pmt by Check</th>  
		  	</tr>
			{{#checkPayments}}
				{{>tempWeeklyReportRow}}
			{{/checkPayments}}
			<tr {{#hasCheckTrx}}style="border-top: solid 1px #797979;"{{/hasCheckTrx}}>
			  <th colspan="3">Items: {{checkCount}}</th>  
			  <th class="text-right">{{checkTotals}}</th>
			</tr>
		  <tr>
		  	<th colspan="4"></th>
		  </tr>
		  <tr>
		    <th colspan="4" style="border-bottom: solid 1px #797979;">Pmt by Card</th>  
		  </tr>
			{{#creditcardPayments}}
				{{>tempWeeklyReportRow}}
			{{/creditcardPayments}}
			<tr {{#hasCardTrx}}style="border-top: solid 1px #797979;"{{/hasCardTrx}}>
			  <th colspan="3">Items: {{creditcardCount}}</th>  
			  <th class="text-right">{{creditcardTotals}}</th>
			</tr>
		  <tr>
		  	<th colspan="4"></th>
		  </tr>
		  <tr>
		    <th colspan="4" style="border-bottom: solid 1px #797979;">Pmt by ACH</th>  
		  </tr>
			{{#achPayments}}
				{{>tempWeeklyReportRow}}
			{{/achPayments}}
			<tr {{#hasAchTrx}}style="border-top: solid 1px #797979;"{{/hasAchTrx}}>
			  <th colspan="3">Items: {{achCount}}</th>  
			  <th class="text-right">{{achTotals}}</th>
			</tr>
	</table>
</script>

<script id="tempWeeklyDepositReportTablesAlt">
	<table id="check-report-table" class="table dataTable dtr-inline table-sm table-borderless" style="width: 100%;" role="grid" aria-describedby="datatables-basic_info">
		<thead>
		  <tr>
		    <th colspan="4">Pmt by Check</th>  
		  </tr>
		</thead>
		<tbody>
			{{#checkPayments}}
				{{>tempWeeklyReportRow}}
			{{/checkPayments}}
		</tbody>
		<tfooter>
			<tr>
			  <th colspan="3">Items: {{checkCount}}</th>  
			  <th class="text-right">{{checkTotals}}</th>
			</tr>
		</tfooter>
	</table>
	<table id="card-report-table" class="table dataTable dtr-inline table-sm table-borderless" style="width: 100%;" role="grid" aria-describedby="datatables-basic_info">
		<thead>
		  <tr>
		    <th colspan="4">Pmt by Card</th>  
		  </tr>
		</thead>
		<tbody>
			{{#creditcardPayments}}
				{{>tempWeeklyReportRow}}
			{{/creditcardPayments}}
		</tbody>
		<tfooter>
			<tr>
			  <th colspan="3">Items: {{creditcardCount}}</th>  
			  <th class="text-right">{{creditcardTotals}}</th>
			</tr>
		</tfooter>
	</table>
	<table id="ach-report-table" class="table dataTable dtr-inline table-sm table-borderless" style="width: 100%;" role="grid" aria-describedby="datatables-basic_info">
		<thead>
		  <tr>
		    <th colspan="4">Pmt by ACH</th>  
		  </tr>
		</thead>
		<tbody>
			{{#achPayments}}
				{{>tempWeeklyReportRow}}
			{{/achPayments}}
		</tbody>
		<tfooter>
			<tr>
			  <th colspan="3">Items: {{achCount}}</th>  
			  <th class="text-right">{{achTotals}}</th>
			</tr>
		</tfooter>
	</table>
</script>

<script id="tempWeeklyReportRow">
	<tr>
		<td>{{studentName}}</td>
		<td>{{formattedDate}}</td>
		<td>{{authorization}}</td>
		<td class="text-right">{{amount}}</td>
	</tr>
</script>


<script id="tempDepositSummaryReportSummary">
	<section class="wrapper">
		<div id="deposit-summary-report-summary-print-wrap" class="col-12 px-0 px-3-md">
			<div class="card">
				<div class="card-header dnp">
					<div class="col-xs-6 p-0">
					</div>
					<div class="col-xs-6 p-0">
						<a id="print-summary-report" class="float-right"><i class="fas fa-print"></i> Print</a>
					</div>
				</div>	
				<div class="card-header">
					<div class="row">
						<div class="col-3 col-xs-3">
							<p>{{program.street}}<p>
							<p>{{program.address}}<p>
						</div>
						<div class="col-6 col-xs-6 p-0 text-center">
							<h2 class="mt-0">{{program.programFullName}}</h2>
							</h4 id="billing-report-summary-range" >{{depositRange}}</h4>
						</div>
						<div class="col-3 col-xs-3 text-right">
							<p>{{program.phone}}<p>
							<p>{{program.email}}<p>
						</div>
					</div>
				</div>
				<div class="card-body">
					<div class="dataTables_wrapper dt-bootstrap4">
						<div id="deposit-summary-report-summary-filters-wrap" class="row dnp">
							<!-- <div class="col-sm-12 col-md-12 col-lg-3" >
								<label>Filter</label>
								<select name="datatables-basic_length" class="custom-select custom-select-sm form-control form-control-sm deposit-report-summary-checkin-log-filter dib" data-filter="filter">
									{{#filterOptions}}
										<option value="{{val}}" {{selected}}>{{name}}</option>
									{{/filterOptions}}
								</select>
							</div> -->
							<div class="col-xs-6 col-md-6 col-lg-3 offset-lg-3">
								<label>From Date:</label>
								<input type="text" class="form-control form-control-sm deposit-report-summary-checkin-log-filter billing-ledger-date search-on-change" data-filter="startDate" placeholder="" aria-controls="datatables-basic" value="{{formattedStartDate}}">
							</div>
							<div class="col-xs-6 col-md-6 col-lg-3">
								<label>To Date:</label>
								<input type="text" class="form-control form-control-sm deposit-report-summary-checkin-log-filter billing-ledger-date search-on-change" data-filter="endDate" placeholder="" aria-controls="datatables-basic" value="{{formattedEndDate}}">
							</div>
							<div id="deposit-summary-report-summary-pagination"></div>
						</div>
						
						<div class="row">
							<div class="col-sm-12" id="billing-summary-report-table-wrap">
								{{>tempWeeklyDepositSummaryReportTables}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</script>

<script id="tempWeeklyDepositSummaryReportTables">
	<table id="check-report-table" class="table-sm table-borderless" style="width: 100%;" role="grid" aria-describedby="datatables-basic_info">
		<tbody>
			<tr style="border-bottom: solid 1px #797979;">
		    	<th>Post Date</th>
		    	<th>Report</th>
		    	<th class="text-right">Amount</th>
		  	</tr>
			<tr>
				<td>{{postDate}}</td>
				<td>{{summaryRange}}</td>
				<td class="text-right">{{total}}</td>
			</tr>
			<tr>
				<th></th>
				<th></th>
				<th class="text-right" style="border-top: solid 1px #797979;">{{total}}</th>
			<tr>
	</table>
</script>
