<script id="tempStudentCheckinForm">
<section class="wrapper">
	<form id="checkin-form" class="checkin-form" onsubmit="return false;">
		<div class="form-group">
			<label for="studentId">Student Id</label>
			<input id="checkin-student-id" type="text" class="form-control" name="studentId" id="studentId" aria-describedby="student id" placeholder="Student Id" autocomplete="off"> 
		</div>
		<button class="checkin-btn">Check In</button>
	</form>
</section>
</script>


<script id="tempStudentCheckinSuccessMessage">
	<div class="alert alert-success alert-dismissible show" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
	    	<span aria-hidden="true">&times;</span>
	    </button>
		{{firstName}} {{lastName}} successfully checked in.
	</div>
</script>

<script id="tempStudentCheckOutSuccessMessage">
	<div class="alert alert-warning alert-dismissible show" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		{{firstName}} {{lastName}} successfully checked out.
	</div>
</script>

<script id="tempGuardianCheckoutModal">
	<div class="modal" id="guardianCheckoutModal" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg" role="document">
		  <div class="modal-content">
		    <div class="modal-header">
		      <h5 class="modal-title">Student Checkout</h5>
		      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		        <span aria-hidden="true">&times;</span>
		      </button>
		    </div>
		    <div class="modal-body">
		    	<form>
		    		{{#hasActiveCheckins}}
		    			<h4>Active Students</h4>
			    		<table class="table">
			    			<tr>
			    				<th></th>
			    				<th>Student</th>
			    				<th>Check In Time</th>
			    			<tr>
					      	{{#activeCheckins}}
					      		
						      		<tr>
						      			{{#student}}
							      			<td>
								      			<input type="checkbox" name="activeStudent{{studentId}}" value="{{studentId}}" class="bs-toggle activeStudentCheckout" checked data-toggle="toggle" data-on="Check Out" data-off="Remain Active" data-onstyle="primary" data-offstyle="default">
								      		</td>
								      		<td>
								      			{{firstName}} {{lastName}}
								      		</td>
							      		{{/student}}
							      		<td>
							      			{{formattedCheckInTime}}
							      		</td>
						      		</tr>
					      	{{/activeCheckins}}
				      	</table/>
			      	{{/hasActiveCheckins}}
			      	{{#hasInactiveCheckins}}
				      	<h4>Inactive Students</h4>
			    		<table class="table">
			    			<tr>
			    				<th></th>
			    				<th>Student</th>
			    				<th>Check In Time</th>
		    				<tr>
					      	{{#inactiveStudents}}
					      		<tr>
					      			<td>
						      			<input type="checkbox" name="activeStudent{{studentId}}" value="{{studentId}}" class="bs-toggle inactiveStudentCheckout" data-toggle="toggle" data-on="Create Check Out" data-off="Remain Inactive" data-onstyle="primary" data-offstyle="default">
						      		</td>
						      		<td>
						      			{{firstName}} {{lastName}}
						      		</td>
						      		<td>
						      			<input type='text' class='form-control input-sm checkin-time time-range start' value='{{defaultCheckInTime}}' data-mask/>
						      		</td>
					      		</tr>
					      	{{/inactiveStudents}}
				      	</table/>
				     {{/hasInactiveCheckins}}
		      	</form>
		    </div>
		    <div class="modal-footer">
		   		<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		      	<button id="modal-checkout-btn" type="button" class="btn btn-primary">Checkout Students</button>
		    </div>
		  </div>
		</div>
	</div>
</script>

<script id="tempInactiveStudentWarningModal">
	<div class="modal" id="inactiveStudentWarningModal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
		  <div class="modal-content">
		    <div class="modal-header">
		      <h5 class="modal-title">Student Inactive</h5>
		      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		        <span aria-hidden="true">&times;</span>
		      </button>
		    </div>
		    <div class="modal-body">
		    	This student is not active, are you sure you want to check them in?
		    </div>
		    <div class="modal-footer">
		   		<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		      	<button id="override-checkin-btn" type="button" class="btn btn-primary">Checkin Student</button>
		    </div>
		  </div>
		</div>
	</div>

</script>

<script id="tempActiveStudentsTable">
	<section class="wrapper">
	<div class="col-12">
		<div class="card">
			<div class="col-12">
				<div class="row no-gutters">
					<div class="col">
						<button class="btn btn-blue btn-sm btn-block scanner-mode zero-radius" data-mode="checkin"><i class="far fa-check-circle"></i> Check In</button>
					</div>
					<div class="col">
						<button class="btn btn-default btn-sm btn-block scanner-mode zero-radius" data-mode="checkout"><i class="far fa-times-circle"></i> Check Out</button>
					</div>
				</div>
			</div>
			<form id="checkin-form" class="checkin-form" onsubmit="return false;">
				<div class="form-group px-3">
					<label for="studentId">Scan Student Id</label>
					<div class="input-group mb-3">
						<input id="checkin-student-id" type="text" class="form-control" name="studentId" aria-describedby="student id" placeholder="Student Id" autocomplete="off"> 
						<div class="input-group-append">
						    <button class="btn btn-outline-secondary checkin-btn" type="button" id="checkin-student-btn">Check In</button>
						 </div>
					</div>
				</div>
			</form>
			<form id="checkout-form" class="checkin-form d-none" onsubmit="return false;">
				<div class="form-group px-3">
					<label for="studentId">Scan Student Id</label>
					<div class="input-group mb-3">
						<input id="checkout-student-id" type="text" class="form-control" name="studentId" aria-describedby="student id" placeholder="Student Id" autocomplete="off"> 
						<div class="input-group-append">
						    <button class="btn btn-outline-secondary checkout-btn" type="button" id="checkout-student-btn">Check Out</button>
						 </div>
					 </div>
				</div>
			</form>
			
		</div>
		<div class="card" id="awaiting-checkin-wrap" style="display:none;">
			<div class="card-header">
				<div class="col-xs-6 p-0">
					<h5 class="card-title">Awaiting Upload</h5>
					<h6 class="card-subtitle text-muted">All students that have been scanned but not uploaded yet.</h6>
				</div>
				<div class="col-xs-6 p-0">
					<button id="show-awaiting-uploads" class="btn btn-sm btn-default float-right"> Show </button>
					<button id="hide-awaiting-uploads" class="btn btn-sm btn-default float-right" style="display:none"> Hide </button>
				</div>
			</div>
			<div class="card-body" style="display:none;"></div>
		</div>
		
		<div class="card">
			<div class="card-header">
				<h5 class="card-title">Active Students</h5>
				<h6 class="card-subtitle text-muted">All students that are currently checked in.</h6>
			</div>
			<div class="card-body">
				<div id="datatables-basic_wrapper" class="dataTables_wrapper dt-bootstrap4">
					<div class="row">
						<div class="col-sm-6 col-md-3">
							<div class="dataTables_length" id="datatables-basic_length">
								<label>Show 
									<select name="datatables-basic_length" aria-controls="datatables-basic" class="custom-select custom-select-sm form-control form-control-sm student-filter" data-filter="size">
										{{#pageSizeOptions}}
											<option value="{{val}}" {{selected}}>{{name}}</option>
										{{/pageSizeOptions}}
									</select> entries
								</label>
							</div>
						</div>
						<div class="col-sm-6 col-md-3" style="padding: 15px">
								<select name="datatables-basic_length" aria-controls="datatables-basic" class="custom-select custom-select-sm form-control form-control-sm student-filter" data-filter="studentSort">
									<option value="">Sort by</option>
									{{#studentSortOptions}}
										<option value="{{val}}" {{selected}}>{{name}}</option>
									{{/studentSortOptions}}
								</select>
						</div>
						<div class="col-sm-12 col-md-6">
							<div id="datatables-basic_filter" class="dataTables_filter">
								<label>Search:<input type="text" class="form-control form-control-sm student-filter type-to-filter" data-filter="search" placeholder="" aria-controls="datatables-basic"></label>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<table id="active-table" class="table table-striped dataTable dtr-inline" style="width: 100%;" role="grid" aria-describedby="datatables-basic_info">
								<thead>
									<tr role="row">
										<th>Delete</th>
										<th tabindex="0" aria-controls="datatables-basic" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Name</th>
										<th>Auth Pickups</th>
										<th tabindex="0" aria-controls="datatables-basic" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending">Student Id</th>
										<th tabindex="0" aria-controls="datatables-basic" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending">School</th>
										<th tabindex="0" aria-controls="datatables-basic" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending">Grade</th>
										<th tabindex="0" aria-controls="datatables-basic" rowspan="1" colspan="1" aria-label="Check In Time">Check In Time</th>
										<th tabindex="0" aria-controls="datatables-basic" rowspan="1" colspan="1" aria-label="Check Out: activate to sort column ascending">Check Out</th>
										<th tabindex="0" aria-controls="datatables-basic" rowspan="1" colspan="1" aria-label="">Edit</th>
									</tr>
								</thead>
								<tbody>
									{{#activeCheckins}}
										{{#student}}
											{{>tempStudentRow}}
										{{/student}}
									{{/activeCheckins}}
								</tbody>
								<tfoot>
									<tr >
										<th>Delete</th>
										<th >Name</th>
										<th>Auth Pickups</th>
										<th >Student Id</th>
										<th >School</th>
										<th>Grade</th>
										<th>Check In Time</th>
										<th>Check Out</th>
										<th>Edit</th>
									</tr>
								</tfoot>
							</table>
						</div>
					</div>
				<div class="row">
					<div class="col-sm-12 col-md-5">
					</div>
					<div class="col-sm-12 col-md-7">
						<div class="page-changer" id="students-pagination"></div>
					</div>
				</div>
				</div>
			</div>
		</div>
	</div>	
	</section>
</script>

<script id="tempStudentRowWrap">
	{{#activeCheckins}}
		{{#student}}
			{{>tempStudentRow}}
		{{/student}}
	{{/activeCheckins}}
</script>

<script id="tempStudentRow">
	<tr role="row" class="odd active-student-row" data-id="{{studentId}}" >
		<td><a class="remove-active-checking" data-id="{{studentId}}"> <i class="fas fa-trash-alt"></i></a> </td>
		<td class="" tabindex="0">
			<a class="student-ledger" data-id="{{id}}"><i class="fas fa-receipt"></i></a> {{firstName}} {{middleName}} {{lastName}}
		</td>
		<td>{{formattedCheckoutNames}}</td>
		<td >{{studentId}}</td>
		<td >{{schoolName}}</td>
		<td>{{grade}}</td>
		<td>
			<a class="student-checkin-ledger" data-id="{{id}}"><i class="fas fa-stopwatch"></i></a> 
			{{formattedCheckInTime}}
		</td>
		<td><a class="student-row-checkout check-in-out-btn py-0 my-0" data-id="{{studentId}}"> <i class="far fa-times-circle"></i></a></td>
		<td><a class="user-edit" data-id="{{id}}"> <i class="fas fa-user-edit"></i></a></td>
	</tr>
</script>

<script id="tempAwaitingCheckins">
	<table class="table table-striped dataTable dtr-inline table-sm" style="width: 100%;" role="grid" aria-describedby="datatables-basic_info">
		<thead>
			<tr role="row">
				<th>Student ID</th>
				<th>Checkin Date</th>
				<th>Checkin Time</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{{#awaitingCheckins}}
				<tr>
					<td>{{studentId}}</td>
					<td>{{checkinDate}}</td>
					<td>{{checkinTime}}</td>
					<td></td>
				</tr>
			{{/awaitingCheckins}}
		</tbody>
	</table>
</script>


